# Node modules
node_modules/

# Node logs
*.log

# Static web content
www/*
!www/.gitkeep

# SQLite database
*.sqlite

# Videos
videos/

# Processing
processing/*
!processing/info.txt

# Environment files
.env.local
